#red,#red2 {
  color: red;
  font-size: 10px;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 200px 0;
  background: url(../img/black-logo-l.png) left no-repeat 
}

section img {
  margin: auto;
  width: 412px;
}

.info-div {
  margin: 0 auto;
}

.info-div h1 {
  font-size: 36px;
  margin-bottom: 100px;
  text-align: center;
}

.info-div h6 {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-div #codigo-input {
  color: #D9D9D9;
  width: 200px;
  padding: 10px;
  border-radius: 3px;
  background-color: #313131;
  border: none;
}

.info-div #button-pesq {
  display: inline-block;
  color: #D9D9D9;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  background-color: #7450D9;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
}

.info-div #button-pesq:hover {
  background-color: #7f56f0;
}

.info-div #recargas-type {
  color: #D9D9D9;
  width: 350px;
  padding: 10px;
  border-radius: 3px;
  background-color: #313131;
  border: none;
}

.info-div #button-submit {
  display: block;
  width: 100%;
  color: #D9D9D9;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  background-color: #7450D9;
  padding: 10px 20px;
  text-align: center;
  margin-top: 80px;
  cursor: pointer;
}

.info-div #button-submit:hover {
    background-color: #7f56f0;
}

.dados-div {
  margin: 40px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #313131;
  border-radius: 3px;
}

.dados-div label {
  display: flex;
  justify-content: space-between;
}

.dados-div label span {
  filter: blur(3px);
}

.dados-div #creditos-label {
  display: none;
}

#help-area {
  position: absolute;
  right: 180px;
  top: 50%;
  width: 350px;
}

#help-area p {
  text-align: justify;
}

@media only screen and (max-width: 1206px) {

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section img {
    width: 40%;
  }

  .info-div h3 {
    width: 80%;
    text-align: center;
  }

  .info-div p {
    width: 80%;
    text-align: center;
  }

  .info-div li {
    width: 80%;
  }
}